<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ReportDesktop.Properties.Settings.DentrixConnectionString"
            connectionString="Data Source=DP954;Initial Catalog=Dentrix;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>